@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: 'Agil Script';
    src: url('fontes/Agil\ Script.ttf') format('truetype'), url('fontes/Agil\ Script.otf') format('opentype');
  }
@font-face {
    font-family: 'Paradise';
    src: url('/fontes/Paradise.otf') format('opentype');
}


/*CSS da pagina Home*/


#menu-h{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    background-color: #ffffff;
    position: relative;
}
#burger{
    display: none;
}
#menu-h:after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: " ";
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #2D1B19);
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #2D1B19);
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}
#logoEtc{
    position: absolute;
    top: 7px;
    right: 90%;
    max-width: 150px;
    max-height: 100px;
}
#logo{
    position: absolute;
    top: 7px;
    right: 75%;
}
body {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    background-color: #f1f1f1;
}
li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 9px 25px;
    border: none;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    border: none;
    border-radius: 20px;
    padding: 9px 25px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}
.nav_links_res{
    list-style: none;
    padding:0;
}
.nav_links_res li{
    display: inline-block;
    padding: 4px 14px;
    border: none;
}
.nav_links_res li a {
    font-size: 13px;
    transition: all 0.3s ease 0s;
    border: none;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}
.apresenta{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    padding: 100px 100px 0;
    min-height: 200px;
    height: 400px;
    width: 400px;
    display: inline-block;
}
#princi{
    position: absolute;
    top: 150px;
    left: 12%;
    margin-top: 10px;
    font-size: 150px;
    font-family: 'Pacifico', cursive;
    color: #fdbb2d;
}
#ODS{
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 300px;
    left: 25%;
    font-size: 60px;
    color: #fdbb2d;

}
.circulo{
    list-style: none;
    align-items: center;
    position: relative;
    top: 13%;
    bottom: 50px;
    left: 59%;
    width: 450px;
    height: 430px;
    display: inline-block;
    margin: 20px;
    border-radius: 50%;
    position: absolute;
}
.circulo li{
    width: 450px;
    height: 430px;
    display: inline-block;
    margin: 20px;
}
.circulo li:nth-child(1) .circulo-item{
    background: url("../IMG/imagens/bandeira-da-alemanha-5-e1596744550861.jpg");
    background-position: -140px;
}
.circulo-item{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.circulo:after{
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 0px;
    left: 20px;
    content: " ";
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}
#container1{
    margin-top: 50px;
    width: auto;
    background-color: #f1f1f1;
    height: 800;
    border-color:  #0000006b;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#container1:hover{
    background-color: #d6d6d6;
}

div.container{
    margin-top: 5px;
    width: auto;
    background-color: #f1f1f1;
    border-color:  #0000006b;
    font-size: 20px;
    position: relative;
}
div.container:hover{  
    background-color: #d6d6d6;
}
.Botao{
    padding: 50px 80px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.Botao:hover{
    background-color: rgba(255, 0, 0, 0.767);
}
.Botao{
    float: right;
    margin-bottom: 30px;
    margin-right: 30px;

}
.textAp{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 440px;
    color: #0000007a;
    margin-top: 10px;
    width: 800px;
}
.titiQ{
    width: auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    padding-top: 90px;
    padding-left: 440px;
    color: #0000007a;
    margin-bottom: 30px;
}
.container:after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: " ";
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
} 
#container1:after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: " ";
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}
.flutuante1{

    float: left;
    width: 350px;height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    background: url("../IMG/imagens/ODS\ 4.png");
    background-size: 350px 350px;
}
.flutuante2{

    float: left;
    width: 350px;height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    background: url("../IMG/eteclogo/bandeira-alemanha.png");
    background-size: 350px 350px;
}
.flutuante3{

    float: left;
    width: 350px;height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    background: url("../IMG/imagens/GOAL_4_TARGET_4.png");
    background-size: 350px 350px;
}
#diff{
    font-size: 20px;
    color: #6d6d6d;
}
footer{
    width: auto;
    height: auto;
    background-color: #e3e3e3;
    padding: 0x;
    display: block;
    text-align: center;
    margin-top: 3%;
}
footer img{
    margin: 0px;
    width: 160px;
    height: 130px;
    padding: 10px;
}
footer p{
    color: rgba(0, 0, 0, 0.664);
    padding-bottom: 10px;
    margin-bottom: 0px;
}
#menu-res{
    display: none;
    background-color: #fff;
    padding: 2px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);

}
#menu-res nav{
    text-align: center;
}
#menu-res-cont{
    display: none;
    background-color: #fff;
    padding: 2px; 
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.507);

}
#menu-res-cont nav{
    text-align: center;
}
@media screen and (max-width: 1200px) { 
    .circulo{
        display: none;
    }   
}
@media screen and (max-width: 720px){

    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }
    #logoEtc{
        display: none;
    }
    #menu-h{
        justify-content: space-between;
    }
    #logo{
        width: 70px;
        height: 35px;
    }
    #burger{
        display: inline-block;
        cursor: pointer;
    }
    .nav_links{
        display: none;
    }
    #princi{
        font-size: 75px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40xp;
        position: absolute;
        left: 6.67%;
        right: auto;
    }
    #ODS{
        font-size: 40px;
        position: absolute;
        left: 6.67%;
        right: auto;
    }
    .flutuante1{
        float:  none;
        position: relative;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .flutuante2{
        float:  none;
        position: relative;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .flutuante3{
        float:  none;
        position: relative;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #container1{
        width: 100%;
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
    div.container{
        width: 100%;
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
    .textAp{
        padding: 5px;
        display: flex;
        float: left;
        width: auto;
    }
    .titiQ{
        padding: 0px;
    }
    .Botao{
        float: none;
        position: relative;
        top: 5px;
        margin-right: auto ;
    }
    .apresenta{
        width: 100%;
        height: 400px;
        padding: 0;
        text-align: center;
    }
    #etc-foo{
    margin: 0px;
    width: 130px;
    height: 100px;
    padding: 10px;
    }
}


/*CSS das páginas de Conteudo*/



@font-face {
    font-family: 'Birds Paradise';
    src: url('fontes/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf') format('truetype');}
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
html {
    scroll-behavior: smooth;
}
.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    position: fixed;
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.507);
}
#logoEtc{
    position: absolute;
    top: 7px;
    right: 90%;
    float: left;
    width: 150px;
    height: 100px;
}
#logo{
    position: absolute;
    top: 7px;
    right: 75%;
}
.containerpro{
    position: relative;
}
.containerpro, .Imagem-slid, .slide-container, .Imagem-slid{
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    padding: 40px 15%;
    padding-bottom: 70px;

} 
.containerpro, .Imagem-slid, .slide-container, .Imagem-slid .content {
    flex: 1 1 350px;
    
}
.containerpro, .Imagem-slid, .slide-container, .Imagem-slid .content h3{
    font-size: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.containerpro, .Imagem-slid, .slide-container, .Imagem-slid .content p {
    font-size: 19px;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    height: 10%;
}
.content .bntpro{
    margin-top: 10px;
    display: inline-block;
    background-color: rgba(0, 136, 169, 1);
    color: white;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}
.content .bntpro:hover{
    background-color: rgba(0, 136, 169, 0.8);

    color: white;
}


.containerpro .slide-container.active{
    display: block;
    
}
.containerpro .slide-container:nth-child(1) .Imagem-slid{
    background: url("../IMG/imagens/slideODS4-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 88.9vw;
    min-height: 100vh;
    height: auto;
}
#containerpro .slide-container:nth-child(1) .Imagem-slid{
    background: url("../IMG/imagens/slideODS4-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 88.9vw;
    height: 100vh;
}
.containerpro {
    padding-left: 0px;
}
.slide-container{
    padding-left: 0px;
}
#conteudoUm{
    width: auto;
    min-height: 700px;
    height: auto;
    background-color: #f1f1f1;
    border-top: 1px solid rgb(41, 41, 41);
}
#img-cont1{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.288);
    margin-left: 15px;
}
#conteudoUm h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.582);
    font-family: 'Roboto', sans-serif;
}
hr{
    width: 50%;
    text-align: left;
}
#conteudoDois{
    width: auto;
    min-height: 700px;
    height: auto;
    background: linear-gradient(#A11B1B, #771313);
}

.Img-cont2{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.288);
}
#conteudoDois h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.582);
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
#conteudoQuatro{
    width: auto;
    min-height: 700px;
    height: auto;
    background: linear-gradient(#A11B1B, #771313);
}
#conteudoQuatro h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.582);
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
.para-cont2{
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 7px;
    padding-top: 2%;
    color: rgba(255, 255, 255, 0.664);
    text-align: justify;
}
.para-cont1{
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
    padding: 7px;
    color: rgba(0, 0, 0, 0.664);
    text-align: justify;
}
#ods-def{
    text-align: center;
}
#conteudoCinco{
    width: auto;
    min-height: 500px;
    height: auto;
    padding: 10px;
    background-color: #f1f1f1;
}
#conteudoCinco h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.582);
    font-family: 'Roboto', sans-serif;
}

.textoApre{
    background: linear-gradient(#A11B1B, #771313);
    height: 300px;
    width: auto;
    
}
.titulo-cont{
    font-size: 70px;
    font-family: 'Birds Paradise';
    color: #ececec;
    text-align: center;
    position: relative;
    top: 100px;
}
.textoApre2{
    background: linear-gradient(#A11B1B, #771313);
    width: auto;
    height: 300px;
}
#conteudoTres{
    width: auto;
    min-height: 200px;
    height: auto;
    background-color: #f1f1f1;
}

#conteudoTres h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.582);
    font-family: 'Roboto', sans-serif;
}
a {
  scroll-behavior: smooth;
}
a:target {
  scroll-margin-top: .8em;
}
h1{
    font-size: 30px;
}
.assunto{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.saibaMais{
    display: inline-block;
    align-items: center;
    background-color: #ffffff;
    min-height: 450px;
    width: 100%;
    border-radius: 7px;
    margin: 0px;
    box-shadow: -1px 0 rgba(0, 0, 0, 0.062); 
    text-align: justify;
    text-align: center;
}
.saibaMais h1{
    font-size: 35px;
    color: rgba(0, 0, 0, 0.582);
    font-family: 'Roboto', sans-serif;
}
.textoOcult{
    width: 100%;
    height: 300px;
    display: block;
}
.textoOcult2{
    width: 100%;
    height: 300px;
    display: none;
}
.textoOcult3{
    width: 100%;
    height: 300px;
    display: none;
}
#conteudoTres button{
    color: #d6d6d6;
    border: none;
    width: 30%;
    padding: 40px;
    margin-top: 3%;
    background: linear-gradient(#A11B1B, #771313);
    display: inline-block;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.219);
}
#conteudoTres button:hover{
    color: white;
    background: linear-gradient(#b62020, #921818);
    transition: all 0.3s ease 0s;

    font-size: 20px;
}
#Show-text{
    margin-left: 4%;
}
#Show-text3{
    margin-right: 4%;
}
footer{
    width: auto;
    height: auto;
    background-color: #d6d6d6;
    padding: 0x;
    display: block;
    text-align: center;
}
.social_link{
    height: auto;
    width: auto;
}
.social_link ul{
    list-style: none;
    padding: 0;
}
.social_link ul li{
    display: inline-block;
}
.social_link ul li a{
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #6d6d6d;
    color: rgb(255, 255, 255);
    display: inline-block;
}
.social_link ul li a:hover{
    color: black;
    background-color: white ;
}
.otSite{
    color: black;
    text-align: justify;

}
.Sites{
    display: inline-block;
    width: 30%;
    height: 260px;
    border-radius: 3px;
    text-align: center;
    border-radius: 10px;
}
.Sites:hover{
    background-color: #d6d6d6;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.486);
}
.Sites a:hover{
    background-color: #d6d6d6;
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}
.Sites img{
    border-radius: 5px;
    border-radius: 10px;
}
.cta2 button{
    padding: 15px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: url("../IMG/imagens/procurar-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 4px;
}
.cta2 button:hover{
    background-color: rgb(255, 0, 0);
}
@media screen and (max-width: 720px){
    .Menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 999px;
        justify-content: space-around;
    }
    #burger{
        z-index: 1;
        
    }
    #menu-res-cont{
        position: fixed;
        top: 44px;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    #img-cont1{
        width: 320px;
        height: 300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .Img-cont2{
        width: 320.0px;
        height: 300px;
        float: none;
    }
    .Sites{
        width: 340px;
        height: 300px;
    }
    .textoApre2 img{
        height: 200px;
    }
    .textoApre2{
        min-height: 200px;
        height: auto;
        text-align: center;
        
    }
    .textoApre2 h1{
        font-size: 50px;
        position: unset;
    }
    .textoApre img{
        height: auto;
    }
    .textoOcult img{
        width: 340px;
        height: 300px;
        float: none;
    }
    .textoApre{
        height: auto;
    }
    .textoApre h1{
        font-size: 50px;
    }
    #containerpro .slide-container:nth-child(1) .Imagem-slid{
        background: url('../IMG/imagens/slideODS4-res.png');
        width: 89.9vw;
    }
    .containerpro .slide-container:nth-child(1) .Imagem-slid{
        background: url('../IMG/imagens/slideODS4-res.png');
        width: 89.9vw;
    }
    #conteudoUm{
        text-align: center;
        padding: 7px;

    }
    .para-cont1{
        padding: 2px;
        margin-top: 10px;
        display: inline-block;
        text-align: justify;
    }
    #conteudoDois{
        text-align: center;
        padding: 7px;
    }
    #conteudoTres{
        text-align: center;
        padding: 7px;
    }
    #conteudoQuatro{
        text-align: center;
        padding: 7px;
    }
    #conteudoCinco{
        text-align: center;
        padding: 7px;
    }
    #conteudoSeis{
        text-align: center;
        padding: 7px;
    }
    #conteudoTres button{
        font-size: 13px;
        transition: all 0.3s ease 0s;
        border: none;
        padding: 4px 10px;
        background-color: rgb(255, 0, 0);
        color: #ffffff;
        margin: 0;
    }
    #botoes-show{
        width: auto;
        height: auto;
        padding: 10px;
        text-align: center;
    }
    #conteudoTres button:hover{
        border: none;
        padding: 4px 10px;
        background-color: rgb(255, 0, 0);
        color: #ffffff;
        font-size: 13px;
    }
    .textoOcult2{
        height: auto;
    }
    .para-cont2{
        padding: 2px;
        margin-top: 10px;
        display: inline-block;
        text-align: justify;
    }
}

/*CSS da página de Integrantes*/

.content-int{
    min-height: 77%;
    min-height: 500px;
    height: auto;
    width: 75%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: #dfdfdf;
    margin-top: 420px;
    left: 50vw;
    transform: translate(-50%, -80%);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.288);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid rgb(41, 41, 41);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.bar:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(41, 41, 41);
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: .6s;
}
#fotoPerBry{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 4%;
    background: url("../IMG/integrantes/WhatsApp_Image_2022-10-13_at_17.49.03-removebg-preview.png") ;
    background-position: -1px -100px;
    float: left;
}
#fotoPerTrez{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 4%;
    background: url("../IMG/integrantes/WhatsApp_Image_2022-10-12_at_20.59.24-removebg-preview.png") ;
    background-position: -1px -50px;
    float: left;
}
#fotoPerMate{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 4%;
    background: url("../IMG/integrantes/WhatsApp_Image_2022-10-16_at_14.13.07-removebg-preview.png");
    background-size: 400px 500px;
    background-position: -1px -100px;
    float: left;
}
#fotoPerPopo{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 4%;
    background: url("../IMG/integrantes/WhatsApp_Image_2022-10-16_at_12.31.18-removebg-preview.png") ;
    background-size: 450px 450px;
    background-repeat: no-repeat;
    background-position: 10px 20px;
    float: left;
}
#fotoPerSasa{
    width: 400.0px;
    height: 400px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 4%;
    background: url("../IMG/integrantes/WhatsApp_Image_2022-10-13_at_22.05.54-removebg-preview.png") ;
    background-position: -1px -100px;
    float: left;
}
.textinho{
    min-width: 300px;
    width: 500px;
    height: auto;
    display: inline-block;
    margin-top: 10%;
    margin-left: 3%;
}
.textinho p{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #0000007a;
        display: inline-block;
}
.textinho h1{
    width: auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #0000007a;
}
#slide1:checked ~ .s1{
    margin-left: 0;

}
#slide2:checked ~ .s1{

    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;

}
#slide4:checked ~ .s1{
    margin-left: -60%;

}
#slide5:checked ~ .s1{
    margin-left: -80%;

}
input{
    display: none;
}
html {
    scroll-behavior: smooth;
}
li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 9px 25px;
    border: none;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    border: none;
    border-radius: 20px;
    padding: 9px 25px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}
.nav_links li a:target {
    scroll-margin-top: .8em;
}
#insta {
    width: 60px;
    height: 55px;
    float: center;
}
#Link{
    width: 43px;
    height: 55px;
    float: center;
    /*position: relative;
    right: 9.4%;
    top: 55px;*/
}
@media screen and (max-width: 720px) {
    .content-int{
        min-height: 520px;
        margin-top: 450px;
    }
    .slide{
        text-align: center;
    }
    #fotoPerBry{
        width: 250px;
        height: 250px;
        background-size: 200px 250px;
        background-repeat: no-repeat;
        background-position: 22px 30px;
        margin: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .textinho h1{
        width: 275px;
    }
    .textinho a{
        display: none;
    }
    .bar{
        width: 30px;
    }
    #fotoPerTrez{
        width: 250px;
        height: 250px;
        background-size: 200px 250px;
        background-repeat: no-repeat;
        background-position: 35px 30px;
        margin: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #fotoPerMate{
        width: 250px;
        height: 250px;
        background-size: 200px 250px;
        background-repeat: no-repeat;
        background-position: 22px -1px;
        margin: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #fotoPerPopo{
        width: 250px;
        height: 250px;
        background-size: 210px 250px;
        background-repeat: no-repeat;
        background-position: 22px 40px;
        margin: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #fotoPerSasa{
        width: 250px;
        height: 250px;
        background-size: 200px 250px;
        background-repeat: no-repeat;
        background-position: 22px 20px;
        margin: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}
